@model KFC_MGMT.Models.Forms.GetHistoryForm

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.IdHistory }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
