@model KFC_MGMT.Controllers.GetModelForm

@{
    ViewBag.Title = "Détails";
}

<h2>Details du modèle</h2>

<div>
    <h4>Détails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
          </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.IdModel }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
